h1:not(#blog-title){
    font-family:'Fredoka One';
    color:#043a67
}

.navbar{
    background-color: #043a67;
}
  
.jumbotron-heading {
    font-weight: 500;
    padding-top: 1rem;
}

#main-container,body{
    background-color: #8de4af;
}


.title-card{
    background-color: #043a67;
}

.card{
    background: #043a67;
}

.card-body, .card{
    min-width: 18rem;
    min-height:5rem;
    position: relative;   
}

.card-text{
    min-height:5rem;
    display: -webkit-box;
    max-width: 400px;
    height: 109.2px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.625;
}

.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

p::first-letter, h5::first-letter, h1::first-letter{
    text-transform: uppercase;
}

.view-p{
    font-size:20px;
}

.btn-primary {
    background-color: #043a67 !important;
}

.bg-custom{
    background-color: #043a67;
    color:white;
}

.alert{
    width:15%;
    margin: 1rem auto;
}

.col:last-child{
    margin-bottom: 2rem;
}

.content-card{
    background-color: #5cdb94;
}

.fullscreen{
    margin-top:25vh;
}

.btn:focus{
    outline: none !important;
}
